@use './partials/partial';

@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: partial.$background-color;
}

.hello {
  color: partial.$text-color;
  font-family: 'Press Start 2P';
  background: partial.$background-src;
}
