@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Press Start 2P';
  background: url('../images/web-dev-dude.jpg');
}
